<div class="cover">
    <div class="container">
        <div class="header">
            <img src="assets/logo.svg" class="mini-logo" alt="koalament">
            koalament <sub>pay</sub>
            <div class="close" (click)="close()">Close</div>
        </div>
        <div class="body">
            <div class="comment">
                <h1 class="name">{{name}}</h1>
                <p dir="auto">{{content}}</p>
            </div>
            <div class="moneyBtnHere">
                <div id="moneyBtnHere" #moneyBtnHere></div>
            </div>
        </div>
    </div>
</div>