<div class="cover">
    <div class="container">
        <div class="header">
            <img src="assets/logo.svg" class="mini-logo" alt="koalament">
            koalament
        </div>
        <div class="body">
            <div class="comment">
                <h1 class="name">Milad</h1>
                <p dir="auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem dignissimos eum id molestias
                    enim sequi illum! Alias, nihil? Odit, illum? Mollitia ab error quia adipisci, quidem minus enim
                    iusto.</p>
            </div>
            <div class="moneyBtnHere">
                <div id="moneyBtnHere" #moneyBtnHere></div>
            </div>
        </div>
    </div>
</div>