.cover {
    background: #0000009c;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.container {
    display: block;
    position: fixed;
    bottom: 0;
    left: 1px;
    width: calc(100% - 2px);
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    margin: 0 auto;
}

div.header {
    line-height: 56px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    font-size: 22px;

    .mini-logo {
        height: 32px;
        width: auto;
        vertical-align: middle;
    }

    sub {
        font-size: 14px;
        line-height: 16px;
        color: #e9b200;
    }

    .close {
        float: right;
        display: block;
        font-size: 18px;
        line-height: 21px;
        color: #9e9e9e;
        padding: 16px;
        cursor: pointer;
    }
}
.body {
    padding: 16px;

    .comment {
        width: calc(100% - 18px * 2);
        background: #f9f9f9;
        border-radius: 25px 25px 25px 0px;
        padding: 18px;
        overflow-wrap: break-word;
        white-space: pre-line;
        color: rgba(0, 0, 0, 0.6);
        max-height: 380px;
        overflow-y: auto;

        h1 {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.87);
        }

        p {
            margin: 8px 0;
        }
    }

    .moneyBtnHere {
        width: 154px;
        display: block;
        margin: 16px auto;
    }
}
