div{
    line-height: 56px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.87);
}

img.mini-logo{
    height: 32px;
    width: auto;
    vertical-align: middle;
}