.container {
    // height: calc(599px - 58px - 58px);
    // overflow-y: scroll;
    // overflow-x: hidden;
    // display: flex;
    // flex-direction: column-reverse;
    // padding-bottom: 175px;

    article {
        background: #f9f9f9;
        border-radius: 25px 25px 25px 0px;
        margin: 8px 16px;
        width: calc(100% - 16px * 2);

        &.golden {
            background: #f0c94d;
        }

        .comment {
            color: rgba(0, 0, 0, 0.6);
            padding: 18px;
            padding-top: 0;
            overflow-wrap: break-word;
            white-space: pre-line;
            font-size: 16px;
            margin-top: 8px;
        }
    }
}

header {
    padding: 18px;
    padding-bottom: 0;

    .name {
        color: rgba(0, 0, 0, 0.87);
        display: inline;
        font-size: 18px;
    }
    time {
        display: inline;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.4);
        margin-left: 5px;
    }
    .txid {
        float: right;
        img {
            vertical-align: middle;
        }
    }
}
