<section class="container">
    <article *ngFor="let post of postList" [ngClass]="{'golden': post.currentUser}">
        <header>
            <section class="name">{{post.name}}</section>
            <time>• {{post.created_at_fromNow}}</time>
            <a href="https://whatsonchain.com/tx/{{post.txid}}" class="txid" target="_blank">
                <img src="/assets/chain.svg" alt="chain">
            </a>
        </header>
        <section class="comment">{{post.comment}}</section>
    </article>
</section>