input {
    width: 105px;
    height: 36px;
    line-height: 30px;
    background: #e9b200;
    border-radius: 7px;
    border: 0;
    float: right;
    margin: 8px;
    cursor: pointer;
    color: #222222;
    font-weight: bold;
    transition: all 0.5s ease 0s;

    &.disable {
        background: #E5E5E5;
        color: rgba(34, 34, 34, 0.38);
    }
}
