.container {
    display: flex;
    flex-flow: column;
    height: 100%;

    header {
        flex: 0 0 58px;
    }

    .comments {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column-reverse;
        display: flex;
    }
    .input {
        flex: 0 0 50px;
    }
}
