<!-- <router-outlet></router-outlet> -->
<section class="container">
    <header>
        <app-header></app-header>
    </header>
    <section class="comments" (click)="foo()">
        <app-no-comment *ngIf="(resolver.$postList | async).length == 0"></app-no-comment>
        <app-comment-show *ngIf="(resolver.$postList | async).length > 0" [postList]="(resolver.$postList | async)">
        </app-comment-show>
    </section>
    <section class="input">
        <app-input-text *ngIf="state == 'name'" placeholder="Write your nickname first..."
            (onSubmit)="onNameSubmit($event)" submitValue="Next" value="{{newComment.name}}"></app-input-text>
        <app-input-textarea *ngIf="state == 'comment' || state =='standby'" [standby]="$standby"
            placeholder="Write your comment..." [label]="newComment.name" (onSubmit)="onCommentSubmit($event)"
            value="{{newComment.content}}" (onChangeLabel)="changeState('name')">
        </app-input-textarea>
        <app-comment-confirmation *ngIf="state == 'pay'" name="{{newComment.name}}" content="{{newComment.content}}"
            (onClose)="changeState('comment')" (onSuccess)="onSuccessPayment($event)"></app-comment-confirmation>
    </section>
</section>