<form action="" method="POST" (click) = "turnOn()">
    <div class="input" [ngClass]="{'standby': (standby|async)}">
        <label *ngIf="!(standby|async)" dir="auto" (click)="changeLabel()">{{label}}</label>
        <textarea name="theText" id="theText" placeholder="{{placeholder}}" [(ngModel)]="value"
            (keydown)="countLength($event)" (change)="countLength($event)" dir="auto"></textarea>
        <footer *ngIf="!(standby|async)">
            <div class="counter">{{value.length}} / {{maxLength}}</div>
        </footer>
        <app-input-textarea-button *ngIf="!(standby|async)" label="POST" stringLength="{{value.length}}"
            (click)="submitEvent($event)"></app-input-textarea-button>
    </div>
    <div style="clear:both"></div>
</form>