form {
    display: block;
    padding: 8px 16px 16px;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    background: #fff;
    width: calc(100% - 16px * 2);
}
div.input {
    background: #f1f1f1;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    min-height: 88px;
    width: 100%;

    &:focus-within {
        border: 1px solid #e9b200;
    }

    textarea {
        border: 0;
        background: inherit;
        padding: 0 8px;
        resize: none;
        height: 20px;
        transition: all 0.5s ease;
        width: calc(100% - 16px);

        &:focus {
            bottom: 0;
            outline: 0;
            height: 80px;
        }
    }

    &.standby {
        background: #f2f2f2;
        border: 1px solid #ffffff;
        border-radius: 10px;
        height: 34px;
        min-height: 34px;

        textarea {
            padding: 8px;
            height: 34px;
            min-height: 34px;
        }
    }

    label {
        padding: 8px;
        padding-bottom: 0;
        display: block;
        // float: left;
        // display: inline-block;
        font-weight: bold;
        font-size: 14px;
        // width: calc(40px);
        // height: 100%;
        border: 0;
        background: inherit;
        padding: 8px;
        cursor: pointer;
        color: #323232;

        &:focus {
            bottom: 0;
            outline: 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    footer {
        display: inline-block;
        width: calc(100% - 110px - 8px * 2 - 8px * 2);
        margin: 8px;
        margin-top: 26px;

        .counter {
            text-align: right;
            font-size: 10px;
            color: #828282;
        }
    }
}
