form {
    display: block;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 16px * 2);
}
div.input {
    background: #f1f1f1;
    border: 1px solid #e9b200;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    min-height: 88px;
    width: 100%;

    textarea {
        border: 0;
        background: inherit;
        // height: 88px;
        width: calc(100% - 40px - 16px - 8px * 2);
        padding: 8px;
        resize: none;
        float: left;
        height: 20px;
        // display: inline-block;
        transition: all 0.5s ease;

        &:focus {
            bottom: 0;
            outline: 0;
            height: 80px;
        }

    }

    label {
        float: left;
        // display: inline-block;
        font-weight: bold;
        font-size: 14px;
        width: calc(40px);
        // height: 100%;
        border: 0;
        background: inherit;
        padding: 8px;
        cursor: pointer;

        &:focus {
            bottom: 0;
            outline: 0;
        }
    }
}
